# Binaries
/bin/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test

# Go build cache
*.out

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*~

# Environment files
.env
.env.local
.env.*.local
**/.env

# DB artifacts
db/*.dump
db/*.bak

# Docker volumes
postgres_data/

# OS
.DS_Store
Thumbs.db

# Ignorar cualquier carpeta .venv en cualquier lugar del proyecto
**/.venv/

# Ignorar cualquier carpeta __pycache__ en cualquier lugar del proyecto
**/__pycache__/
**/validation_logs/

# Python bytecode
__pycache__/

# Maven/Java
**/target/
*.class
*.jar
*.war
*.ear
*.nar
dependency-reduced-pom.xml
.mvn/
mvnw
mvnw.cmd