# Binaries
/bin/
/*.exe
/*.exe~
/*.dll
/*.so
/*.dylib
*.test

# Go build cache
*.out

# Logs
*.log

# IDE/editor
.vscode/
.idea/
*.swp
*.swo
*~

# Environment files
.env
.env.local
.env.*.local

# DB artifacts
db/*.dump
db/*.bak

# Docker volumes
postgres_data/

# OS
.DS_Store
Thumbs.db

.venv/
__pycache__/