body {
  margin: 0;
  font-family: "Inter", sans-serif;
  display: flex;
  height: 100vh;
  color: #f1f5f9;
  background-color: #0f172a;
}

.sidebar {
  width: 240px;
  background-color: #1e293b;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1.5rem;
}

.logo-area {
  text-align: center;
  margin-bottom: 1.5rem;
}

.logo {
  width: 70px;
}

nav ul {
  list-style: none;
  padding: 0;
}

nav li {
  padding: 0.7rem;
  margin-bottom: 0.5rem;
  border-radius: 0.5rem;
  cursor: pointer;
  background-color: #334155;
  transition: background 0.2s;
}

nav li:hover, nav li.active {
  background-color: #0ea5e9;
}

#logoutBtn {
  margin-top: auto;
  background: #ef4444;
  color: white;
  border: none;
  padding: 0.7rem;
  border-radius: 0.5rem;
  cursor: pointer;
}

.main {
  flex: 1;
  padding: 2rem;
  overflow-y: auto;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  gap: 1.5rem;
}

.card {
  background-color: #1e293b;
  padding: 1rem;
  border-radius: 0.8rem;
  text-align: center;
}

.card h3 {
  margin: 0.5rem 0;
  color: #94a3b8;
}


.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
  background-color: #1e293b;
  border-radius: 0.5rem;
  overflow: hidden;
}

.data-table th, .data-table td {
  padding: 0.8rem;
  text-align: left;
  border-bottom: 1px solid #334155;
}

.data-table th {
  background-color: #0f172a;
  color: #94a3b8;
  font-weight: 600;
}

.data-table tr:hover {
  background-color: #334155;
}


.charts-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(380px, 1fr));
  gap: 1.5rem;
  margin-top: 1rem;
}

canvas {
  background: #0f172a;
  padding: 0.8rem;
  border-radius: 10px;
  box-shadow: 0 0 8px rgba(0,0,0,0.3);
}